:root {
  /* COLOR */
  --black : #000;
  --white : #fff;
  --gray-light : #e5e5e5;
  --gray-dark : #555; 

  --clr-bg-primary : #fff;
  --clr-bg-secondary : #111;

  --clr-bg-hov-gray : #555;
  --clr-bg-hov-black : #111;

  --clr-text-main : #111 ;
  --clr-text-sub : #555 ;
  --clr-text-white : #f1f1f1;

  /* FONT */
  --fs-xxs: clamp(0.65rem, 0.6vw, 0.75rem);
  --fs-xs: clamp(0.80rem, 0.8vw, 0.875rem);
  --fs-sm: clamp(0.870rem, 1vw, 1rem);
  --fs-base: clamp(0.9rem, 1.2vw, 1.125rem);
  --fs-md: clamp(1.5rem, 1.6vw, 2rem);
  --fs-lg: clamp(0.95rem, 1.2vw, 1.25rem);
  --fs-xl: clamp(1.25rem, 1.6vw, 1.5rem);
  --fs-2xl: clamp(1.35rem, 2vw, 1.840rem);
  --fs-3xl: clamp(1.875rem, 2.5vw, 2.25rem);
  --fs-4xl: clamp(2.25rem, 3vw, 3rem);

  --fs-blog: clamp(20px, 7vw, 35px);

  --fw-light: 300;
  --fw-normal: 400;
  --fw-medium: 500;
  --fw-semibold: 600;
  --fw-bold: 700;

  /*  FONT FAMILY  */
  --font-pixel: 'VT323', monospace;
  --font-mono: "IBM Plex Mono", monospace;

  /*  SPACING */
  --space-1: 0.25rem;   
  --space-2: 0.5rem;    
  --space-3: 0.75rem;  
  --space-4: 1rem;      
  --space-6: 1.5rem;    
  --space-7: 1.75rem;   
  --space-8: 2rem;     
  --space-10: 2.5rem;   
  --space-12: 3rem;     
  --space-16: 4rem;     
  --space-20: 5rem;     

  --space-fluid-sm: clamp(0.7rem, 2vw, 0.2rem);
  --space-fluid-md: clamp(0.75rem, 6vw, 1.2rem);

  /*  SHADOW  */
  --shadow-sm: 0 1px 3px rgba(0, 0, 0, 0.08);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.10);
  --shadow-lg: 0 10px 20px rgba(0, 0, 0, 0.12);
  --shadow-xl: 0 20px 40px rgba(0, 0, 0, 0.18);

  /*  RADIUS */
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 20px;
  --radius-full: 999px;

  /*  TRANSITION */
  --transition-fast: 150ms ease;
  --transition-normal: 250ms ease;
  --transition-slow: 400ms ease;

  /*  LAYOUT WIDTH */
  --container-sm: 640px;
  --container-md: 768px;
  --container-lg: 1024px;
  --container-xl: 1280px;

  --max-width: 1200px;

  --line-height-base: 1.5;

  /* PADDING */
  --pad-inl : 1.9rem;
  --pad-inl-mobile : 1.3rem;

  --pad-blo : 1.9rem;
  --pad-blo-mobile : 1.2rem;

  /* MARGIN  */
  --margin-desk: 2rem;
  --margin-mobile: 1rem;
}

/*  EFFECT SCROLL */
.reveal {
  opacity: 0;
  transform: translateY(14px);
  filter: blur(4px);
  transition: 
    opacity 0.7s ease-out,
    transform 0.5s ease-out,
    filter 0.7s ease-out;
}

.reveal.show {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

/*  EFFECT HOVER */
.hover-scale {
  transition: transform 0.3s ease;
}

.hover-scale:hover {
  transform: scale(1.03);
}

.noselect {
  user-select: none;
}

/*  PRELOADER  */
#preloader {
  position: fixed;
  inset: 0;
  background: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#preloader.hide {
  opacity: 0;
  visibility: hidden;
}

.loader__indicator {
  width: 60px;
  height: 30px;
  position: relative;
  z-index: 4;
}

.typing-circle {
  width: 8px;
  height: 8px;
  position: absolute;
  border-radius: 50%;
  background-color: #000;
  left: 15%;
  transform-origin: 50%;
  animation: typing-circle7124 0.5s alternate infinite ease;
}

@keyframes typing-circle7124 {
  0% {
    top: 20px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 8px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.typing-circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.typing-shadow {
  width: 5px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 30px;
  transform-origin: 50%;
  z-index: 3;
  left: 15%;
  filter: blur(1px);
  animation: typing-shadow046 0.5s alternate infinite ease;
}

@keyframes typing-shadow046 {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.typing-shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.typing-shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

* {
  margin : 0;
  padding : 0;
  box-sizing : border-box;
}

body.popup-open .reveal-up {
  transform : none !important;
  opacity : 1 !important;
}

body {
  font-family : var(--font-mono);
  background-color : var(--white);
  margin : 0;
  min-height: 100%;
  width: 100%;
  position: relative
}

.background__body {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 210vh;
  z-index: 0;
  background-image: linear-gradient(to right, #ebebeb 1px, transparent 1px),
    linear-gradient(to bottom, #ebebeb 1px, transparent 1px);
  background-size: 20px 30px;
  -webkit-mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
  mask-image: radial-gradient(
    ellipse 70% 60% at 50% 0%,
    #000 60%,
    transparent 100%
  );
}

h1, h2 {
  font-family : var(--font-pixel);
}

.navbar {
  display : flex;
  justify-content : space-between;
  align-items : center;
  background-color : var(--white);
  padding : var(--space-fluid-md);
  position : sticky;
  top : 0;
  z-index: 999;
  border-bottom : 4px solid var(--black);
}

.icon__navbar {
  font-family: 'VT323', monospace;
  font-size: 35px;
  overflow: hidden;
  white-space: nowrap;
  border-right: 2px solid;
  animation:
    typing 8s steps(8) infinite,
    blinkCursor 0.8s steps(1) infinite;
}

.icon__navbar a {
  color : var(--black);
  text-decoration : none;
}

/* GHOST ANIMATION */
.brand {
  display : flex;
  align-items: center;
  gap: 8px;  
}


.ghost__wrapper {
  width: 20px;     
  height: 20px;
  position: relative;
}

#ghost {
  transform: scale(0.20);
  transform-origin: top left;
  position: absolute;
}

#red {
  animation: upNDown infinite 0.5s;
  position: relative;
  width: 140px;
  height: 140px;
  display: grid;
  grid-template-columns: repeat(14, 1fr);
  grid-template-rows: repeat(14, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-areas:
    "a1  a2  a3  a4  a5  top0  top0  top0  top0  a10 a11 a12 a13 a14"
    "b1  b2  b3  top1 top1 top1 top1 top1 top1 top1 top1 b12 b13 b14"
    "c1 c2 top2 top2 top2 top2 top2 top2 top2 top2 top2 top2 c13 c14"
    "d1 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 d14"
    "e1 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 e14"
    "f1 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 top3 f14"
    "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
    "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
    "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
    "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
    "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
    "top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4 top4"
    "st0 st0 an4 st1 an7 st2 an10 an10 st3 an13 st4 an16 st5 st5"
    "an1 an2 an3 an5 an6 an8 an9 an9 an11 an12 an14 an15 an17 an18";
}

@keyframes upNDown {
  0%,
  49% {
    transform: translateY(0px);
  }
  50%,
  100% {
    transform: translateY(-10px);
  }
}

#top0,
#top1,
#top2,
#top3,
#top4,
#st0,
#st1,
#st2,
#st3,
#st4,
#st5 {
  background-color: var(--black);
}

#top0 {
  grid-area: top0;
}
#top1 {
  grid-area: top1;
}
#top2 {
  grid-area: top2;
}
#top3 {
  grid-area: top3;
}
#top4 {
  grid-area: top4;
}
#st0 {
  grid-area: st0;
}
#st1 {
  grid-area: st1;
}
#st2 {
  grid-area: st2;
}
#st3 {
  grid-area: st3;
}
#st4 {
  grid-area: st4;
}
#st5 {
  grid-area: st5;
}

#an1,
#an18,
#an6,
#an12,
#an7,
#an13,
#an8,
#an11 {
  animation: flicker0 infinite 0.5s;
}

#an2,
#an3,
#an4,
#an10,
#an9,
#an5,
#an15,
#an16,
#an17 {
  animation: flicker1 infinite 0.5s;
}

#an1 {
  grid-area: an1;
}
#an2 {
  grid-area: an2;
}
#an3 {
  grid-area: an3;
}
#an4 {
  grid-area: an4;
}
#an5 {
  grid-area: an5;
}
#an6 {
  grid-area: an6;
}
#an7 {
  grid-area: an7;
}
#an8 {
  grid-area: an8;
}
#an9 {
  grid-area: an9;
}
#an10 {
  grid-area: an10;
}
#an11 {
  grid-area: an11;
}
#an12 {
  grid-area: an12;
}
#an13 {
  grid-area: an13;
}
#an14 {
  grid-area: an14;
}
#an15 {
  grid-area: an15;
}
#an16 {
  grid-area: an16;
}
#an17 {
  grid-area: an17;
}
#an18 {
  grid-area: an18;
}

@keyframes flicker0 {
  0%,
  49% {
    background-color: var(--black);
  }
  50%,
  100% {
    background-color: transparent;
  }
}

@keyframes flicker1 {
  0%,
  49% {
    background-color: transparent;
  }
  50%,
  100% {
    background-color: var(--black);
  }
}

#eye,
#eye1 {
  width: 40px;
  height: 50px;
  position: absolute;
  top: 30px;
}

#eye {
  left: 20px;
}

#eye1 {
  right: 20px;
}

#eye::before,
#eye1::before {
  content: "";
  background-color: var(--black);
  width: 20px;
  height: 50px;
  transform: translateX(10px);
  display: block;
  position: absolute;
}

#eye::after,
#eye1::after {
  content: "";
  background-color: var(--black);
  width: 40px;
  height: 30px;
  transform: translateY(10px);
  display: block;
  position: absolute;
}

#pupil,
#pupil1 {
  width: 20px;
  height: 20px;
  background-color: var(--white);
  position: absolute;
  top: 50px;
  z-index: 1;
}

#pupil {
  left: 30px;
}

#pupil1 {
  right: 30px;
}

#mouth1,
#mouth2,
#mouth3,
#mouth4,
#mouth5,
#mouthstart,
#mouthend {
  width: 20px;
  height: 10px;
  background-color: var(--white);
  position: absolute;
  z-index: 1;
  top: 100px;
}

#mouthstart,
#mouthend {
  width: 10px;
}

#mouthstart {
  left: 10px;
}

#mouth1 {
  top: 90px;
  left: 20px;
}

#mouth2 {
  left: 40px;
}

#mouth3 {
  top: 90px;
  left: 60px;
}

#mouth4 {
  left: 80px;
}

#mouth5 {
  top: 90px;
  left: 100px;
}

#mouthend {
  left: 120px;
}

#shadow {
  background-color: black;
  width: 140px;
  height: 140px;
  position: absolute;
  border-radius: 50%;
  transform: rotateX(80deg);
  filter: blur(20px);
  top: 80%;
  animation: shadowMovement infinite 0.5s;
}

@keyframes shadowMovement {
  0%,
  49% {
    opacity: 0.5;
  }
  50%,
  100% {
    opacity: 0.2;
  }
}

@keyframes typing {
  0%   { width: 0 }
  50%  { width: 8ch }
  100% { width: 0 }
}

@keyframes blinkCursor {
  50% { border-color: transparent; }
}

.nav__links {
  display : flex;
  list-style-type : none;
  gap : 16px;
}

.nav__links a {
  font-family : var(--font-pixel);
  font-weight :var(--fw-medium);
  background : var(--white);
  text-decoration : none;
  color : var(--black);
  padding: 0.25rem 0.5rem;
  transition : 0.2 ease;
  font-size: var(--fs-2xl);
  border : 3px solid var(--black);
  display : inline-block;
  border-radius : 8px;
  box-shadow : 4px 4px 0 #000;
  transition : transform 0.15s ease, box-shadow 0.15 ease;
}

.nav__links a:hover {
  transform : translate(2px, 2px);
  box-shadow : 2px 2px 0 #111;
}

.hamburger {
  display: none;
  flex-direction: column;
  gap: 4px;
  cursor: pointer;
  background : white;
  border : 2px solid var(--black);
  padding : 5px;
  border-radius : 4px;
  box-shadow : 4px 4px 0 #000;
  transition : transform 0.15s ease, box-shadow 0.15 ease;
  margin-right : 1rem;
}

.hamburger:hover {
  transform : translate(2px, 2px);
  box-shadow : 2px 2px 0 #111;
}

.hamburger span {
  width: 25px;
  height: 4px;
  background: var(--black);
  transition: 0.3s ease;
}

.hero {
  position: relative;
  z-indez : 0;
  margin-bottom : 1.5rem;
  border-bottom : 4px solid var(--black);
}

.hero::after {
  content : "";
  position : absolute;
  inset : 0;
  z-index : 1;
}

.hero .hero__container {
  z-index : 2;
  position : relative;
}

.hero__container >* {
  animation : fadeSlide 0.8s ease forwards;
  opacity : 0;
}

.hero__container{
  display : flex;
  flex-direction : column;
  height : 100dvh;
  gap : var(--space-fluid-sm);
  padding-inline: 7rem;
  align-items : start;
  justify-content : center;
  z-index : 2;
  position : relative;
  margin : var(--margin-desk);
}

.hero__container h2 {
  font-size : var(--fs-2xl);
  color : var(--clr-text-sub);
  font-weight : var(--fw-medium);
  animation-delay: 0.1s;
}

.hero__name {
  position : relative;
  font-size : var(--fs-4xl);
  font-weight : var(--fw-medium);
  animation-delay: 0.25s;
  color : var(--clr-text-main);
  cursor : pointer;
}

.real__name {
  display: inline-block;
  opacity: 1;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.brand__name {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  white-space: nowrap;
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
  color: var(--black);
}

.hero__name:hover .real__name {
  opacity: 0;
  transform: translateY(5px);
}

.hero__name:hover .brand__name {
  opacity: 1;
  transform: translateY(0);
}

.brand__name {
  transform: translateY(-5px);
}

.hero__container p {
  font-size : var(--fs-lg);
  color : var(--clr-text-sub);
  font-weight : var(--fw-medium);
  max-width : 600px;
  animation-delay: 0.4s;
}

.hero__btn {
  display: flex;
  padding: 0.1em 0.25em;
  width: 13.3em;
  height: 4.5em;
  background-color: var(--black);
  border: 0.08em solid var(--white);
  border-radius: 0.8em;
  font-size: 8px;
  cursor: pointer;
  text-decoration: none;
  justify-content: center;    
}

.hero__btn span {
  position: relative;
  display: flex;
  justify-content: center !important;
  align-items: center !important;
  bottom: 0.4em;
  width: 8.25em;
  height: 2.5em;
  background-color: #212121;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
  transition: all 0.5s;
}

.hero__btn span:hover {
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

.hero__btn span:not(:hover) {
  transition: all 1s;
}

@keyframes fadeSlide {
  from { opacity 0; transform: translateY(18px); }
  to { opacity : 1; transform: translateY(0); }
}

.scroll__indicator {
  display : flex;
  gap : 1rem;
  font-size : var(--fs-xl);
  font-family : var(--font-pixel);
  font-weight : var(--fw-medium);
  color : var(--black);
  cursor : default;
  animation-delay: 0.8s;
}

.scroll__indicator .arrow { 
  animation : bounce 1.5s infinite ease-in-out;
  opacity : 0.7;
  font-size : var(--fs-xl);
}

@keyframes bounce {
  0% { transform: translateY(0); opacity: 0.6; }
  50% { transform: translateY(5px); opacity: 1; }
  100% { transform: translateY(0); opacity: 0.6; }
}

.intro {
  width: fit-content;
  display : flex;
  align-items : center;
  gap : 2rem;
  padding-inline: var(--pad-inl);
  border : 2px solid var(--black);
  border-radius : 10px;
  box-shadow : 0 8px 0 #000;
  margin : 3rem 2rem;
  padding : 20px 20px;
}

.profile {
  width: 80px;
  height: auto;
  border : 2px solid black;
  z-index: 2;
  box-shadow : 5px 5px 0 #000;
  transition : transform 0.15s ease, box-shadow 0.15 ease;
}

.intro__text {
  display: flex;
  flex-direction: column; 
  gap: 0.5rem; 
  flex-wrap : nowrap;
}

.intro__text h1{
  font-size : var(--fs-3xl);
  font-weight : var(--fw-medium);
}

.intro__text p {
  font-size : 20px;
  font-weight : var(--fw-medium);
}

.blog__title {
  font-size : var(--fs-blog);
}

.about__section {
  display : flex;
  background : var(--white);
  flex-direction : column;
  padding-inline: var(--pad-inl);
  padding-block: 1.9rem;  
  border : 2px solid var(--black);
  margin : 5rem 2rem;
}

.about__section h2 {
  margin-top : -0.8rem;
  color : var(--black);
  padding-block : 0.5rem;
  font-weight : var(--fw-medium);
}

.about__section p {
  font-size : var(--fs-base);
  color : var(--clr-text-sub);
  font-weight : var(--fw-medium);
  line-height : var(--line-height-base);
}

.text__bold {
  color : var(--black);
  font-weight : var(--fw-bold);
}

.skills__section {
  padding-inline: var(--pad-inl);
  padding-block: var(--pad-blo);
  margin-block : 2rem;
  background : var(--white);
  margin-bottom : 100px;  
  isolation : isolate;
  border : 2px solid var(--black);
  margin : 5rem 2rem;  
}

.skills__section h2 {
  margin-top : -0.8rem;
  color : var(--black);
  padding-block : 0.5rem;
  font-weight : var(--fw-medium);
}

.skills__section p {
  font-size : var(--fs-base);
  color : var(--clr-text-sub);
  font-weight : var(--fw-medium);
  margin-bottom : 2rem;
  max-width : 900px;
  line-height : var(--line-height-base);
}

.category {
  margin-bottom : 32px;
}

.category h2 {
  font-size : var(--fs-md);
  font-weight : var(--fw-medium);
  color : var(--black);
  margin-bottom : 0.5rem;
}

.tags {
  display : flex;
  gap : 1rem;
  flex-wrap : wrap;
}

.tag {
  background-color : var(--white);
  color : var(--black);
  padding : 8px 10px;
  font-size : var(--fs-base);
  user-select : none;
  border-radius : 8px;  
  cursor: pointer;
  box-shadow : 4px 4px 0 #000;
  transition : transform 0.15s ease, box-shadow 0.15 ease;
  border : 2px solid var(--black);
}

.tag:hover {
  transform : translate(2px, 2px);
  box-shadow : 2px 2px 0 #111;
}

.reveal-up { 
  opacity: 0;
  transform: translateY(12px);
  transition: 0.7s ease-out;
  z-index : 1,
}

.reveal-up.show { 
  opacity: 1;
  transform: translateY(0);
}

/*  POPUP SKILLS */
.skill__popup__overlay {
  position : fixed;
  inset : 0;
  background : rgba(0, 0, 0, 0.55);
  display : none;
  justify-content : center;
  align-items : center;
  z-index : 9999;
} 

.skill__popup {
  position : fixed;
  margin-left : 15rem;
  top : 50%;
  left : 50%;
  transform : translate(-50%, -50%);
  background : var(--clr-bg-primary);
  padding : 20px;
  width : 325px;
  animation : overlayFade 0.25s ease;
  display : none; 
  z-index : 10000;
  cursor: move;   
  border : 3px solid var(--black);
  border-radius : 20px;
  box-shadow : 10px 10px 0 #000;
  transition : transform 0.15s ease, box-shadow 0.15 ease;
}

.skill__popup:active {
  cursor:  move;
}

.skill__icon {
  width : 70px;
  height : 70px;
  margin : 0 auto 25px;
  display: block;
  object-fit: contain;
  border-radius: 8px;
  padding: 10px;
  transition: all 0.2s ease;
  border : 2px solid var(--black);
  box-shadow : 4px 4px 0 #000;
  transition : transform 0.15s ease, box-shadow 0.15 ease;  
}

.skill__icon:hover {
  background: #ffffff;
  box-shadow: 0 6px 16px rgba(0,0,0,0.12);
  transform: translateY(-4px);
}

.skill__popup h3 {
  font-family : var(--font-pixel);
  font-size : var(--fs-2xl);
  font-weight : var(--fw-medium);
  text-align : center;
  margin-bottom : 10px;
}

.progress__container {
  position : relative;
  width : 100%;
  background : var(--clr-bg-primary);
  border : 2px solid var(--clr-bg-secondary);
  height : 10px;
  border-radius : 6px;
  margin-bottom : 6px;
}

.progress__bar {
  height : 100%;
  width : 0%;
  border-radius : 6px;
  transition : width 0.3s ease;
}

.progress__pointer {
  position: absolute;
  top: -18px;        
  font-size: 15px;
  transform: translateX(-50%); 
  transition: left 0.3s ease;
  pointer-events: none; 
  color : var(--clr-text-main);
}

.skill__popup h4 {
  font-size : var(--fs-base);
  color : var(--clr-text-main);
  font-weight : var(--fw-semibold);
  margin-bottom : 1rem;
}

.skill__popup p {
  font-size : var(--fs-sm);
  color : var(--clr-text-sub);
  font-weight: var(--fw-semibold);
  line-height : var(--line-height-base);
}

@keyframes popupFade {
  0% {
    opacity : 0;
    transform : translate(-50%, -50%) scale(0.95);
  }
  100% {
    opacity : 1;
    transform : translate(-50%, -50%) scale(1);
  }
  .skill__popup {
    animation : popupFade 0.25 ease;
  }
}

@keyframes overlayFade {
  0% { opacity : 0;}
  100% { opacity : 1;}
}

.education__section {
  background-color : var(--white);
  padding-inline : var(--pad-inl);  
  padding-block : var(--pad-blo);
  border : 2px solid var(--black);
  margin : 5rem 2rem;
}

.education__section h2 {
  margin-top : -0.8rem;
  color : var(--black);
  padding-block : 0.5rem;
  font-weight : var(--fw-medium);
}

.break__edu {
  display : none;
}

.edu__wrapper {
  display: flex;
  gap: 1rem;
  padding-block: 1.5rem;
  padding-inline : var(--pad-inl);
  align-items : flex-start;
  flex-wrap : wrap;
}

.edu__left {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  position : relative;
  width : 500px;
  flex-shrink : 1;
}

.edu__item {
  background: #fff;
  padding: 2rem 1.3rem;
  cursor: pointer;
  transition: 0.3s ease;
  max-width : 100%;
  width : 400px;
  border : 3px solid var(--black);
  border-radius : 18px;
  box-shadow : 8px 8px 0 #000;
  transition : transform 0.15s ease, box-shadow 0.15 ease;  
}

.edu__item:hover {
  transform : translate(2px, 2px);
  box-shadow : 2px 2px 0 #111;
}

.edu__item h3 {
  font-size : var(--fs-base);
  font-weight : var(--fw-semibold);
  color : var(--clr-text-main);
  margin-bottom : 0.5rem;
}

.edu__content {
  max-height: 0;
  opacity: 0;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  margin-top: 0.5rem;
  overflow : hidden;
}

.edu__content p {
  margin: 0.2rem 0;
  line-height : var(--line-height-base);
}

.edu__right {
  flex: 1;
}

.edu__right p {
  max-width: 500px;
  font-size: var(--fs-base);
  color: var(--clr-text-sub);
  line-height : var(--line-height-base);
  font-weight : var(--fw-medium);
  margin-bottom : 0.5rem;
}

.pre__year {
  color : var(--clr-text-sub);
  font-size : var(--fs-xl);
  font-weight : var(--fw-semibold);
}

.edu__item.active {
  background: #111;
  border-radius : 20px;
  box-shadow :
  0 4px 8px rgba(0, 0, 0, 0.14),
  0 6px 20px rgba(0, 0, 0, 0.10);
}

.edu__item.active .edu__content {
  max-height : 200px; 
  opacity: 1;
  transform : translateY(0);
}

.edu__item.active h3 {
  color : #ffff ;
  margin-bottom : 0.5rem;
  padding-bottom : 0.8rem;
  border-bottom : 2px solid var(--clr-text-white);

}

.edu__item.active .pre__year {
  display : none;
  opacity : 0;
}

.edu__year {
  text-align : right;
  font-weight : var(--fw-bold);
  color: var(--white);
  font-size : var(--fs-lg);
  padding-block : 0.8rem;
}

.edu__title {
  color : var(--clr-text-white);
  font-weight : var(--fw-bold);
  font-size : var(--fs-lg);
}

.edu__location {
  font-size : var(--fs-base);
  color : var(--clr-text-white);
  font-weight : var(--fw-medium);
}

.edu__detail {
  display : none;
  flex-direction : row;
  max-width : 800px;
  animation : fadeIn 0.4s ease;
}

.detail__text {
  display : flex;
  flex-direction : column;
  gap : rem;
  justify-content : center;
  padding-inline : 3rem;
}

.edu__detail h2 {
  color : var(--black);
  font-size : 40px;
  font-weight : var(--fw-medium);
  text-align : center;
}

.edu__detail p {
  color : var(--clr-text-sub);
  font-size : var(--fs-base);
  font-weight : var(--fw-medium);
  line-height : var(--line-height-base);  
  text-align : left;
}

.edu__detail img {
  width : 200px;
  height : 200px;
  object-fit : contain;
  margin : 1.2rem auto;
  background: var(--white);
  border-radius: 30px;
  padding: 10px;
  border : 3px solid var(--black);
  box-shadow : 0 10px #000;
  transition : transform 0.15s ease, box-shadow 0.15 ease;  
  margin-bottom : 2rem;
}

@keyframes fadeIn {
  from { opacity : 0; transform : translateY(10px); }
  to { opacity : 1; transform : translateY(0);}
}

.projects__section {
  background : var(--white);
  padding-inline: var(--pad-inl);
  padding-block: var(--pad-blo); 
  border : 2px solid var(--black);
  margin : 5rem 2rem;
}

.projects__section h2 {
  margin-top : -0.8rem;
  color : var(--black);
  padding-block : 0.5rem;
  font-weight : var(--fw-medium);
}

.projects__section p {
  font-size : var(--fs-base);
  color : var(--clr-text-sub);
  font-weight : var(--fw-medium);
  line-height : var(--line-height-base);   
  margin-bottom : 2rem;
}

.projects__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 1rem;
  margin-bottom : 1.5rem;
}

.project__list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.project__item {
  padding: 40px 20px;
  width : 19rem;
  background: var(--white);
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  font-weight: var(--fw-medium);
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  transition: all 0.2s ease;
  color : var(--black);
  font-family : var(--font-pixel);
  font-size : var(--fs-md);
  border : 3px solid var(--black);
  box-shadow : 7px 7px 0 #000;
  transition : transform 0.15s ease, box-shadow 0.15 ease; 
}

.project__item.active {
  background: #111;
  color: var(--white);
  box-shadow : none;
}

.project__item:hover {
  transform : translate(2px, 2px);
  box-shadow : 2px 2px 0 #111;  
}

.project__preview {
  background: #fff;
  border-radius: 16px;
  padding: 1.5rem;
  width : 41rem;
  border : 3px solid var(--black);
  box-shadow : 7px 7px 0 #000;
}

.project__preview h2 {
  font-size : var(--fs-2xl);
  font-weight : var(--fw-medium);
  color : var(--black);
  margin-bottom : 1rem;
}

.project__preview p {
  font-size : var(--fs-base);
  color : var(--clr-text-sub);
  font-weight : var(--fw-medium);
}

.project__tech {
  margin-bottom : 1rem;
}

.project__tech span {
  display: inline-block;
  background: #111;
  padding: 6px 10px;
  border-radius: 8px;
  margin-bottom : 0.5rem;
  margin-right: 6px;
  font-size : var(--fs-base);
  color : var(--clr-text-white);
  cursor: pointer;
}

.project__actions a {
  display: inline-block;
  margin-right: 12px;
  text-decoration: none;
  font-weight : var(--fw-semibold);
  font-size : var(--fs-base);
  color : var(--clr-text-sub);
  cursor: pointer;
}

.project__actions a:hover {
  color : var(--clr-text-main);
}

.project__actions a.disabled {
  background: #e5e7eb;
  color: #6b7280;
  cursor: not-allowed;
  border-radius : 5px;
  padding : 5px 2px;
  font-size : var(--fs-sm);
}

.project__actions a.disabled::after {
  content: "";
}


.arrow__sub { 
  animation : bounce 1.5s infinite ease-in-out;
  opacity : 0.7;
  font-size : var(--fs-lg);
  margin-left : 50px ;
}

@keyframes bounce {
  0% { transform: translateY(0); opacity: 0.6; }
  50% { transform: translateY(5px); opacity: 1; }
  100% { transform: translateY(0); opacity: 0.6; }
}


.footer__container {
  background : var(--black);
  padding : 1rem 0;
}

.contact__card {
  margin : 1rem auto;
  background: var(--white);
  border: 2px solid var(--black);
  border-radius: 8px;
  padding: 2rem 2.5rem;
  max-width: 800px;
  width: 100%;
}

.contact__info h2 {
  font-size : var(--fs-md);
  margin-top : -0.8rem;
  color : var(--black);
  padding-block : 0.5rem;
  font-weight : var(--fw-medium);
}

.contact__info {
  display : flex;
  justify-content : right;
}

/*  CONTACT ANIMATION  */

.contact__animation {
  transform: scale(0.6);
}

.loader {
  width: 50px;
  height: auto;
  padding-top: 40px;    
  padding-bottom: 0;
  position: relative;
  animation: shake 3s infinite ease-in-out;
}

.cup {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 30px;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 3px 3px 10px 10px;
  z-index: 1;
  animation: cupPulse 6s infinite ease-in-out;
}

.cup::before {
  content: "";
  position: absolute;
  bottom: -5px;
  width: calc(100% - 2px);
  height: 6px;
  background: #000;
  border: 1px solid #000;
  border-top: none;
  border-radius: 50%;
  z-index: -1;
  animation: cupPulse 6s infinite ease-in-out;
}

.cup::after {
  content: "";
  position: absolute;
  top: -2px;
  left: 1px;
  width: calc(100% - 2px);
  height: 4px;
  background: #000;
  border: 1px solid #000;
  border-radius: 50%;
  animation: coffeeGlow 6s infinite ease-in-out;
}

.cup-handle {
  position: absolute;
  top: 5px;
  right: -10px;
  width: 10px;
  height: 15px;
  border: 2px solid #000;
  border-left: none;
  border-radius: 0 10px 10px 0;
  background: transparent;
}

.smoke {
  position: absolute;
  bottom: 100%;
  left: 50%;
  width: 10px;
  height: 25px;
  background: rgba(72, 67, 67, 0.501);
  border-radius: 50%;
  transform: translateX(-50%);
  animation: rise 3s infinite ease-in-out;
  filter: blur(8px);
}

.smoke.one {
  animation-delay: 0s;
}
.smoke.two {
  animation-delay: 0.8s;
}
.smoke.three {
  animation-delay: 1.6s;
}

.load {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  color: #2e2e2e;
  opacity: 0.6;
}

@keyframes rise {
  0% {
    transform: translate(-50%, 0) scale(0.4);
    opacity: 0;
  }
  30% {
    opacity: 0.7;
  }
  60% {
    opacity: 0.4;
  }
  100% {
    transform: translate(-50%, -120px) scale(1);
    opacity: 0;
  }
}

@keyframes shake {
  0% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  25% {
    transform: translateX(-4px) translateY(-2px) rotate(-2deg);
  }
  50% {
    transform: translateX(0) translateY(0) rotate(0);
  }
  75% {
    transform: translateX(4px) translateY(-2px) rotate(2deg);
  }
  100% {
    transform: translateX(0) translateY(0) rotate(0);
  }
}

/* New Animations */
@keyframes cupPulse {
  0%,
  100% {
    background-color: #000;
  }
  50% {
    background-color: #000;
  }
}

@keyframes coffeeGlow {
  0%,
  100% {
    background: #fff
  }
  50% {
    background: #fff;
  }
}

.contact__hint {
  font-size : var(--fs-base);
  color : var(--clr-text-sub);
  font-weight : var(--fw-medium);
  line-height : var(--line-height-base);   
  margin-top : -7px;
  margin-bottom : 2rem;
  text-align: right;

}

.contact__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact__list a {
  font-size : var(--fs-md);
}

.contact__list a:hover {
  border : 2px solid var(--black);
}

.contact__item {
  text-align: left;
  color: var(--black);
  text-decoration: none;
  font-family: 'VT323', monospace;
  font-size: var(--fs-md);
  transition: all 0.15s ease;
  justify-self: start;
  position: relative;
}

.contact__item:active {
  transform: translate(4px, 4px);
}

.contact__item .icon {
  width : 70px;
  height : 70px;
  object-fit: contain;
  padding : 10px;
}

.footer__divider {
  width: 100%;
  height: 1px;         
  background: var(--white);      
  margin: 3rem 0;
}

.footer__section {
  display : flex;
  justify-content: space-between; 
  padding : 0 1.5rem;
  margin-top : -20px;
  padding-bottom : 1rem;
  position : relative;
}

.footer__left {
  display : flex;
  gap : 1rem;
  border-right : 2px solid white;
  padding-right : 2rem;
  padding-bottom : 0.7rem;
}

.footer__left h1 {
  color : var(--white);
  font-weight : var(--fw-medium);
}

.footer__left p {
  font-family : var(--font-pixel);
  font-weight : var(--fw-medium);
  font-size : var(--fs-xl);
  color : var(--white);
  text-align : right;
}

.footer__left img {
  width : 50px;
  height : 50px;
}

.footer__text{
  display : grid;
}

.footer__right p {
  font-family : var(--font-pixel);
  font-weight : var(--fw-medium);
  font-size : var(--fs-xl);
  color : var(--white);
  text-align : right;
  position : absolute;
  right: 1rem;
  bottom: 0;
}

/*  BUTTON UP  */
.box-button {
  cursor: pointer;
  border: 4px solid black;
  background-color: gray;
  padding-bottom: 10px;
  transition: 0.1s ease-in-out;
  user-select: none;
}

.button {
  background-color: #dddddd;
  border: 4px solid #fff;
  padding: 3px 8px;
}

.button span {
  font-size: 1.2em;
  letter-spacing: 1px;
}

.box-button:active {
  padding: 0;
  margin-bottom: 10px;
  transform: translateY(10px);
}

.back-to-top {
  position: fixed;
  right: 1rem;
  bottom: 9rem;
  z-index: 999;

  opacity: 0;
  pointer-events: none;
  transform: translateY(20px) scale(0.9);
  transition: 
    opacity 0.3s ease,
    transform 0.3s ease;
}

.back-to-top.show {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0) scale(1);
}


/*   MEDIA QUERY SECTION   */
@media (max-width: 768px) {

  .navbar {
    padding : var(--space-fluid-sm);
    width: 100%;
    z-index : 1000;
  }

  .icon__navbar {
    font-size : 30px;
  }

  .ghost__wrapper {
    width : 10px;
    height : 10px;
    margin-bottom : 1rem;
  }

  #ghost {
  transform: scale(0.18);
  }

  .hamburger {
    display: flex;
    z-index : 10111;
    margin-left: auto;
    cursor: pointer;
  }

  .hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translateY(8px);
  }
  .hamburger.active span:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
  }

  .nav__links {
  margin-top: 1rem;
  gap: 10px;
  top: 100%;
  right: 0;
  margin-right: 1rem;
  flex-direction: column;
  position: absolute;
  transform-origin: top;
  transform: scaleY(0);
  opacity: 0;
  transition:
    transform 0.25s steps(6),
    opacity 0.15s steps(3);
  pointer-events: none;
  }

  .nav__links.show {
  transform: scaleY(1);
  opacity: 1;
  pointer-events: auto;
  }

  .nav__links.show a {
  animation: pixelItem 0.25s steps(4) forwards;
  }

  .nav__links.show li:nth-child(1) a { animation-delay: 0s; }
  .nav__links.show li:nth-child(2) a { animation-delay: 0.05s; }
  .nav__links.show li:nth-child(3) a { animation-delay: 0.1s; }
  .nav__links.show li:nth-child(4) a { animation-delay: 0.15s; }
  .nav__links.show li:nth-child(5) a { animation-delay: 0.2s; }


  @keyframes pixelItem {
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .nav__links:not(.show) a {
  animation: none;
  opacity: 0;
  transform: translateX(-4px);
  }

  .hero  {
    margin-top : 1px;
  }

  .hero__container {
    padding-inline: 1.8rem;
  }

  .hero__container h1 {
    font-size : var(--fs-3xl);
    white-space : nowrap;
  }

  .hero__container p {
    font-size : var(--fs-base);
  }

  .hero__btn {
    font-size : 7px;
    height : 4.6em;
    width : 13.3em;
  }

  .intro {
    gap: 1.2rem; 
    padding : 10px 10px;
    padding-inline : 1rem;
    box-shadow : 0 8px 0 #000;
    border-radius : 8px;
    margin : 2.5rem 1rem;
  }

  .intro__text {
    gap : 0.2rem;
  }

  .profile {
    width : 60px;
    box-shadow : 3px 3px 0 #000;
  }

  .intro__text h1 {
    font-size : 22px; 
    white-space : nowrap;
  }

  .intro__text p {
    font-size : 14px;
    line-height : 1.3;
  }

  .about__section {
    margin : 1rem;
    gap : 3px;
    padding-inline : var(--pad-inl-mobile);
    padding-block : var(--pad-blo-mobile);
    margin-bottom : 2rem;
  }  


  .skills__section {
    margin : 5rem 1rem;
    padding-inline : var(--pad-inl-mobile);
    padding-block : var(--pad-blo-mobile);
  }

  .skills__section p {
    margin-bottom : 1rem;
  }

  .category h2 {
    font-size : var(--fs-xl);
    margin-bottom : -2px;
  }

  .tag {
    padding : 5px 7px;
    font-size : 12px;
  }

  .details h2 {
    width : 13rem;
  }

  .skill__popup {
  padding : 15px;
  margin-left : 0;
  width : 280px;
  box-shadow : 8px 8px 0 #000;
  }

  .skill__popup p {
    line-height : 1.4;
  }

  .skill__icon {
  width : 65px;
  height : 65px;
  }

  .education__section {
    margin : 5rem 1rem;
    padding-inline : var(--pad-inl-mobile);
    padding-block : var(--pad-blo-mobile);
  }

  .edu__wrapper {
    gap : 10px;
    flex-direction : column;
  }

  .edu__item {
    padding : 1.3rem 1.3rem;
    max-width : 100%;
  }

  .break__edu {
    display : block;
  }

  .edu__left {
    width : 310px;
    order : 1;
    margin-left : -3rem;
  }

  .edu__right {
    margin-top : -1.5rem;
    margin-bottom : -1rem;
    margin-left : -1.8rem;
  }

  .edu__item {
    width : 280px;
    margin : 0 auto;
  }

  .pre__year {
    font-size : 17px;
  }

  .edu__item.active h3 {
  padding-block : 0.3rem;
  margin-bottom : -1rem;
 }
 

 .edu__item.active {
  max-width : 280px
 }

 .edu__item.active .edu__content {
  max-height: 100px; 
  opacity: 1;
  transform : translateY(0);
}

.edu__detail {
  flex-direction : column;
  margin-top : -3.3rem;
  margin-left : -30px;
  width : 300px;
  padding-inline : 0;
}

.detail__text {
  gap : 1px;
  width : 290px;
  padding-inline : 0;
}

.edu__detail h2 {
  font-size : 22px;
  text-align : center;
}

.edu__detail img {
  width : 105px;
  height : 105px;
  object-fit : contain;
  margin : 1.8rem auto;
  border-radius : 20px;
  box-shadow : 0 8px #000;
}

.projects__section {
    margin : 5rem 1rem;
    padding-inline : var(--pad-inl-mobile);
    padding-block : var(--pad-blo-mobile);
  }

.project__list {
  flex-direction : row;
}

.projects__container {
  display : flex;
  flex-direction : column;
  gap: 1.4rem;
}

.projects__section p {
  margin-bottom : 1.3rem;
}

.project__item {
  padding: 10px;
  width : 10rem;
  border-radius: 12px;
  text-align: left;
  font-size : var(--fs-xl);
}

.project__preview p {
  font-size : var(--fs-xs);
  font-weight : var(--fw-semibold);
}

.project__preview {
  width : 18.9rem;
  margin : 0 auto;
}

.project__preview h2 {
  margin-bottom : 0.3rem;
}

.project__tech {
  margin-bottom : 0.5rem;
}

.arrow__sub {
  margin-left : 37px ;
}

.contact__card {
  max-width : 310.4px;
  padding : 1rem 1.5rem;
}

.contact__animation {
  transform : scale(0.5);
}

.loader {
  padding-top : 35px;
}

.contact__list {
  row-gap : 0.3rem;
}

.contact__hint {
  margin-bottom : 1rem;
  font-size : 12px;
}

.contact__list a {
  font-size : var(--fs-xl);
}

.contact__hint {
  text-align : left;
}

.footer__section {
  padding : 0 1rem;
}

.footer__left {
  gap : 0.5rem;
  padding-right : 0.3rem;
}

.footer__left img {
  width : 30px;
  height : 30px;
}

.footer__left h1 {
  font-size : 15px;
}

.footer__left p {
  font-size : 10px;
  text-align : left;
}

.footer__text {
  width : 100px;
}

.footer__right p {
  font-size : 12px;
}


}







